body{
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 0 75px;
    margin: 0;
    
    
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}
ul{
    list-style: none;
}
span{
    font-size: 24px;
    color: #F9FAF8;
    align-content: center;
}
.rightlinks{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;
}
.topbox{
    background-color: #1F2937;
    margin: 0;
    padding: 75px;
    display: flex;
    flex-direction: row;
    flex: 1;
    
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}
p{
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}
button{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    font-size: 18px;
    padding: 2px 15px;
    margin: 10px 0;
    
    
}
img{
    background-color: grey;
    color: #E5E7EB;
  }
.leftside{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 25px 0 0;
    
  }
  .two{
    background-color: white;
  }
.three{
    background-color: #E5E7EB;
    padding: 50px 75px;

}
.three p{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    display: flex;
    justify-content: center;
}
.three span{
    color: #1F2937;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.four{
    background-color: white;
}
footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;

}
footer >span{
    font-size: 10px;
   
}